@font-face {
    font-family: 'akbaalregular';
    src: url('/assets/font/akbaal-webfont.eot');
    src: url('/assets/font/akbaal-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/font/akbaal-webfont.woff2') format('woff2'),
    url('/assets/font/akbaal-webfont.woff') format('woff'),
    url('/assets/font/akbaal-webfont.ttf') format('truetype'),
    url('/assets/font/akbaal-webfont.svg#akbaalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    height: 100%;
}

body {
    background: #666;
    color: whitesmoke;
}

#main-container {
    color: whitesmoke;
}

a, a:hover {
    color: whitesmoke;
}

.customTitle {
    font-family: akbaalregular, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu {
    background: #333333;
    height: 100%;
    /*border-image: url("/assets/images/vertical_bars.svg");*/
}

#name-display {
    position: absolute;
    top: 0;
    left: 0;
}

#menu-container > img {
    height: 430px;
    margin-top: -10px;
    margin-left: -5px;
}

#name-container {
    position: relative;
}

#name-container .header-helper {
    background: #333333;
}

#name-container,
#name-container > .header-helper,
#name-container > img {
    height:135px;
}
#name-container img {
    margin-left:-20px;
}

.menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

#main-container,
#navigation {
    height: 100%;
}

#content
{
    padding-top: 25px;
}

