@(message: String)

@main("Valentin Cocaud") {

	<div class="row">
		<div class="col s12 center-align">
			<h1>Valentin Cocaud</h1>
			<p>
				Étudiant en informatique à l'Écoles des Mines de Nantes, accro à l'informatique depuis toujours.
			</p>
		</div>
	</div>
	<div class="row center-align">
		<a href="https://github.com/EmrysMyrddin">
			<div class="col s4">
				<img src="@routes.Assets.versioned("images/github.png")" alt="Github" class="circle responsive-img">
				<h3>Mon compte Github</h3>
			</div>
		</a>
		<div class="col s4">

		</div>
		<div class="col s4">

		</div>
	</div>

}
{
	<!--[if lt IE 9]>
	<script type="text/javascript" src="@routes.Assets.versioned("libs/IEexcanvas.js")"></script>
	<![endif]-->
	<script src="@routes.Assets.versioned("libs/jquery.tagcanvas.min.js")" type="text/javascript"></script>
}
